*.dll
*.a
*.user
*.o
*.exe
*.log
*.obj
*.tlog
*.pdb
*.sdf
*.pch
*.db
*.lib
*.opendb
*.exp
*.def
*.idb
*.suo
*.ipch
*.orig
*.suo
*.ilk
/lib
/obj
/dll
/build
*VC.db*
twd.VC.VC.opendb
*.stash
/deps/date/test/tz_test/*.zip
